@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* All dedications */
section[epub|type~="dedication"]{
	font-variant: small-caps;
	line-height: 2;
	text-align: center;
}

section[epub|type~="dedication"] b{
	font-size: 1.25em;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

section[epub|type~="dedication"] > footer{
	margin-top: 1em;
	width: 100%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh -3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End all dedications */

/* All images */
figure{
	break-inside: avoid;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption,
.group-caption{
	font-size: .75em;
	font-style: italic;
	margin: 1em;
	text-align: center;
}

figcaption i{
	font-style: normal;
}

figure.full-page{
	break-after: page;
	break-before: page;
	margin: 0;
	max-height: 100vh;
	text-align: center;
}

@supports(display: flex){
	figure.full-page{
		display: flex;
		flex-direction: column;
	}

	figure.full-page img{
		height: 100vh;
		object-fit: contain;
	}
}
/* End all images */

/* All tables */
th{
	border: 1px solid;
	border-collapse: collapse;
	font-variant: small-caps;
	font-weight: bold;
}

table,
th,
td{
	border-collapse: collapse;
	border-left: 1px solid;
	border-right: 1px solid;
	font-variant-numeric: tabular-nums;
	margin: 1em auto;
	padding-left: .5em;
	padding-right: .5em;
}

caption{
	caption-side: bottom;
	margin: 1em;
	text-align: initial;
}

tr:last-child{
	border-bottom: 1px solid;
}
/* End all tables */

/* Letters (preface/introduction) */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"]{
	text-align: initial;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* End letters */

/* Inline verse */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}
/* End inline verse */

/* Inline images */
.carving{
	height: 25px;
	width: 25px;
}
/* End Inline Images */

#chapter-8 blockquote{
	font-variant: small-caps;
	text-align: center;
}

#appendix-b div{
	text-align: center;
}

#appendix-b ul{
	list-style-type: none;
	column-count: 2;
	display: inline-block;
	text-align: initial;
	vertical-align: middle;
	column-gap: 5;
}
